<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/RFPStyle.css" />
    <title>Document</title>
</head>
<body>
    <main class="container side-panel-hidden">
        <div class="primary-nav">
            <div class="action insite">
                <span class="action-text">RFP Dashboard</span>
                <br>
                <ul class="main-nav">

                    <li>Bids</li>
                    <li>About</li>

                </ul><!-- modified not standard -->

            </div>
        </div>
        <div class="content">
            @RenderBody();
            </div>
    </main>
</body>

</html>
